@import "src/Assets/styles/variable";

.wish-wrapper {
  width: 200px;
  right: -24px;
  height: 100%;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 38px;
  border: 1px solid #e0abf5;
  border-radius: 4px;
  min-height: 226px;
  overflow-y: scroll;


  .wish-item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    color: gray;
    font-size: 12px;
    background-color: #e8d6f1;
    padding: 8px;
    border-radius: 4px;

    img {
      width: 40px;
      height: auto;
      margin-right: 10px;
    }
  }
}