@import "src/Assets/styles/variable";

.home-body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 80px;
}

.items{
  display: flex;

  .description{
    padding: 0 40px;
  }
}

.carousel-root{
  display: block;
  max-width: 500px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lightViolet;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $mediumViolet;
}